.margin_padding{margin: 0px ; padding: 0px;}
.marginpadding{ margin: 0px 0px 5px 0px ; padding: 0px;}

.search_error{margin: 5px 0px 0px 0px ; padding: 10px 15x 10px 0px;}
.hidepassword{ display:none}
.showpassword{ display:inline} 
.department{ top: 25% !important ;}
#hpassword{margin-top: 2px; padding: 5px;}
.company_info{ text-align: center;}
.company_info h2,p{ margin: 0; padding: 0px;}
.company_info h2{font-size: 25px}


.voucher_memo_area{}

.voucher_memo_area h3{text-align: center;border: 1px solid red; border-radius:3px; padding:5px; }


.voucher_item_area{margin-top:10px;}

.voucher_header{font-size: 18px; }
.voucher_item{font-size: 16px;}
.voucher_item{border-bottom: 1px solid #DDDDDD;}
.voucher_total{border-bottom: 1px solid #DDDDDD; font-size: 18px;}
.voucher_bottom_area{margin-top: 15px;}
.voucher_bottom_left{line-height: 28px;}

.link_pagination{
border: 2px solid #e6e6e3;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    padding: 2px 10px;
}
.active_pagiction{border: 2px solid #3c8dbc;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    padding: 2px 10px;
}
.inventory_history_modal{top:1%}
.purchase_report_form{padding: 5px 0px 0px 25px; font-size: 20px;}

.report_view{margin-top: 8px;}

.report_item{}
.report_item li{ background-color: #357CA5; width: 20%; padding: 8px 0px 8px 5px; float: left; margin: 0px 5px 5px 0px; border-radius:1px;}
.report_item li a{color: #ffffff;font-size: 18px;}
.report_item li:hover{background-color:#3C8DBC ; 	
                             -moz-transition: all 0.9s linear .1s;
		             -webkit-transition:  all 0.9s linear .1s;}
.report_item li a:hover{ color: black ;
                          -moz-transition: all 0.9s linear .1s;
			  -webkit-transition:  all 0.9s linear .1s;}


.old_form
{
    margin-top: 3px
}
.new_form
{
    margin-top: 3px;
    border: 1px solid #3C8DBC;padding: 2px;
    
}